streamlit==1.22.0  # Streamlit version (or the latest)
pandas==2.2.2      # For data manipulation
matplotlib==3.7.1   # For plotting
numpy==1.24.3      # For numerical operations
scipy==1.11.3      # For scientific computing



