streamlit==1.22.0  # Streamlit version
pandas>=2.0,<2.3  # Use a compatible version of pandas
matplotlib>=3.6,<4.0  # Compatible version of matplotlib
numpy>=1.26.0,<2.0  # Ensure numpy is compatible
scipy>=1.11.0,<2.0  # Use a compatible version of scipy




